
/***** Background *****/
body {
	background: #333;
    font-family: 'Lucida Sans';
    font-size: 15px;
    font-weight: 100;
    color: #fff;
    line-height: 28px;
	text-align: center;
}

/***** First Heading *****/
h1 {
	margin-top: 10px;
	font-size: 34px;
    font-weight: 100;
    color: #fff;
    line-height: 48px;
}

/***** Third Heading *****/
h3 {
	font-size: 20px;
    font-weight: 10;
    color: #fff;
    line-height: 26px;
}

/***** Top content *****/

.top-content { 
	padding: 10px 0 30px 0;
	 
}

.top-content-login { 
	padding: 60px 0 100px 0;
	color: #fff;
	 
}

/***** Footer *****/

#footsignup { 
    padding-bottom: 10px;
    padding-top: 10px; 
    color: white; 
    background-color: #333;
    margin: 0px 120px 0px 120px;
}

#footlog { 
	padding-bottom: 20px; 
	color: #fff; 
}

#log{
    color: #fff;
}

#logsign{
    color: #fff;
}

a {
    text-decoration: none;}



